<div>
  <h2 id="page-heading" data-cy="PlantaHeading">
    <span jhiTranslate="jhipsterBancoGermoplasmaApp.planta.home.title">Plantas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterBancoGermoplasmaApp.planta.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-planta"
        [routerLink]="['/planta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterBancoGermoplasmaApp.planta.home.createLabel"> Crear nuevo Planta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="plantas?.length === 0">
    <span jhiTranslate="jhipsterBancoGermoplasmaApp.planta.home.notFound">Ningún Plantas encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="plantas && plantas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="jhipsterBancoGermoplasmaApp.planta.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="jhipsterBancoGermoplasmaApp.planta.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="uso">
            <div class="d-flex">
              <span jhiTranslate="jhipsterBancoGermoplasmaApp.planta.uso">Uso</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ubicacion.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterBancoGermoplasmaApp.planta.ubicacion">Ubicacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planta of plantas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/planta', planta.id, 'view']">{{ planta.id }}</a>
          </td>
          <td>{{ planta.nombre }}</td>
          <td>{{ planta.estado }}</td>
          <td>{{ planta.uso }}</td>
          <td>
            <div *ngIf="planta.ubicacion">
              <a [routerLink]="['/ubicacion', planta.ubicacion.id, 'view']">{{ planta.ubicacion.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/planta', planta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/planta', planta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(planta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="plantas && plantas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
