<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-planta-heading"
        data-cy="PlantaCreateUpdateHeading"
        jhiTranslate="jhipsterBancoGermoplasmaApp.planta.home.createOrEditLabel"
      >
        Crear o editar Planta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterBancoGermoplasmaApp.planta.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterBancoGermoplasmaApp.planta.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterBancoGermoplasmaApp.planta.uso" for="field_uso">Uso</label>
          <input type="text" class="form-control" name="uso" id="field_uso" data-cy="uso" formControlName="uso" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterBancoGermoplasmaApp.planta.ubicacion" for="field_ubicacion">Ubicacion</label>
          <select
            class="form-control"
            id="field_ubicacion"
            data-cy="ubicacion"
            name="ubicacion"
            formControlName="ubicacion"
            [compareWith]="compareUbicacion"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="ubicacionOption" *ngFor="let ubicacionOption of ubicacionsSharedCollection">{{ ubicacionOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
