<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-provincia-heading"
        data-cy="ProvinciaCreateUpdateHeading"
        jhiTranslate="jhipsterBancoGermoplasmaApp.provincia.home.createOrEditLabel"
      >
        Crear o editar Provincia
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterBancoGermoplasmaApp.provincia.nombreProvincia" for="field_nombreProvincia"
            >Nombre Provincia</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreProvincia"
            id="field_nombreProvincia"
            data-cy="nombreProvincia"
            formControlName="nombreProvincia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterBancoGermoplasmaApp.provincia.pais" for="field_pais">Pais</label>
          <select class="form-control" id="field_pais" data-cy="pais" name="pais" formControlName="pais" [compareWith]="comparePais">
            <option [ngValue]="null"></option>
            <option [ngValue]="paisOption" *ngFor="let paisOption of paisSharedCollection">{{ paisOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
